.cards {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  position: relative;
  width: 100%;

  .card {
    background-color: #1b1b3090;
    box-shadow: 0 15px 45px rgba($color: #01011860, $alpha: 0.35);
    border-radius: 15px;
    display: flex;
    min-height: 540px;
    overflow: hidden;
    transition: all 0.5s ease-out;
    width: 70%;

    .img-box {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center;
      min-width: 100%;
      position: relative;
      transition: all 0.3s ease-out;
      width: 100%;
      z-index: 1;

      img {
        box-shadow: 0 2px 10px rgba($color: #ededed90, $alpha: 0.25);
        border: 2px solid #1b1b3070;
        border-radius: 5px;
        height: 250px;
        transition: all 1s ease-in-out;
        width: 250px;
      }

      &::after {
        background: url(../../../../assets/img/decorators/rhombus.svg);
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        content: "";
        height: 150%;
        right: -30%;
        opacity: 0.1;
        position: absolute;
        transform: rotate(360deg);
        transition: all 0.3s ease-in;
        width: 95%;
        z-index: -1;
      }

      &::before {
        background: url(../../../../assets/img/decorators/rhombus.svg);
        background-repeat: no-repeat;
        background-size: cover;
        content: "";
        height: 0%;
        left: 0;
        opacity: 0.1;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(180deg);
        transition: all 0.3s ease-in;
        width: 0%;
        z-index: -1;
      }
    }

    .details {
      align-items: center;
      background-color: #1b1b3055;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
      opacity: 0;
      position: relative;
      padding: 20px;
      transition: all 0.3s ease-out;
      width: 100%;

      &-header {
        text-align: center;

        .title {
          color: #ededed;
          text-shadow: 0 0 3px #ededed80, 0 0 3px #ededed80;
          font-size: 3rem;
          text-transform: capitalize;
        }

        .sub-title {
          color: #ededed80;
          font-size: 2rem;
          text-shadow: 0 0 3px #ededed80, 0 0 3px #ededed80;
          text-transform: capitalize;

          span {
            color: #1ed760;
            text-shadow: 0 0 3px #1ed76080, 0 0 3px #1ed76080;
          }
        }
      }

      &-body {
        background-color: transparent;
        height: 80px;
        position: relative;
        width: 95%;
        text-align: center;

        .musical-notes {
          color: #ededed80;
          font-size: 2rem;
          font-weight: 500;
          padding: 0.5rem 2rem;
          text-shadow: 0 0 3px #ededed80, 0 0 3px #ededed80;

          span {
            color: #1ed760;
            text-shadow: 0 0 3px #1ed76080, 0 0 3px #1ed76080;
          }
        }

        iframe {
          border: none;
          box-shadow: 0 2px 10px rgba($color: #ededed90, $alpha: 0.25);
          border-radius: 10px;
          margin-top: 1.5rem;
          transition: all 0.3s ease-in;
        }

        &:hover {
          iframe {
            transform: scale(1.05);
          }
        }
      }

      &-footer {
        position: relative;

        .title {
          color: #ededed;
          font-size: 2.5rem;
          text-shadow: 0 0 3px #ededed80, 0 0 3px #ededed80;
          text-align: center;
        }

        .list-artists {
          display: flex;
          position: relative;
          width: 100%;

          li {
            background-color: #01011880;
            border-radius: 5px;
            cursor: pointer;
            color: #ededed;
            font-size: 1.25rem;
            font-weight: 400;
            margin: 0.5rem 0.5rem;
            padding: 0.3rem 1rem;
            text-shadow: 0 0 3px #ededed80, 0 0 3px #ededed80;
            transition: all 0.3s ease-in;

            &:hover {
              background-color: #01011830;
              text-shadow: 0 0 3px #ededed40, 0 0 3px #ededed40;
              transform: scale(1.09);
            }
          }
        }
      }

      &::before {
        background: linear-gradient(120deg, #1b1b3020 65%, #1b1b3040 85%);
        bottom: 0;
        content: "";
        height: 0%;
        mix-blend-mode: soft-light;
        opacity: 0;
        position: absolute;
        pointer-events: none;
        right: 0;
        transition: all 0.3s ease-in-out;
        transform-origin: bottom left;
        transform: skew(-30deg, 0deg);
        width: 0%;
        -webkit-transform: skew(-30deg, 0deg);
        -webkit-transform-origin: bottom left;
      }
    }

    &:hover {
      width: 90%;

      .details {
        min-width: 55%;
        opacity: 1;

        &::before {
          height: 100%;
          opacity: 1;
          width: 75%;
        }
      }

      .img-box {
        min-width: 45%;

        img {
          border-radius: 15px;
          transform: scale(1.2);
        }

        &::after {
          height: 0%;
          top: -100%;
          width: 0%;
        }

        &::before {
          height: 150%;
          width: 55%;
        }
      }
    }

    @media (max-width: 1024px) {
      flex-direction: column;
      width: 90%;

      .img-box {
        img {
          height: 350px;
          width: 350px;
        }
      }

      .details {
        height: 0;
        opacity: 0;
      }

      &:hover {
        min-height: 1024px;

        .details {
          height: 100%;
          min-width: 100%;
          opacity: 1;
        }

        .img-box {
          img {
            height: 250px;
            width: 250px;
          }

          &::before {
            height: 100%;
          }
        }
      }
    }

    @media (max-width: 600px) {
      width: 95%;

      .img-box {
        img {
          height: 60%;
          width: 80%;
        }
      }

      .details {
        &-header {
          .title {
            font-size: 2rem;
          }

          .sub-title {
            font-size: 1.25rem;
          }
        }

        &-body {
          .musical-notes {
            font-size: 1.5rem;
          }
        }

        &-footer {
          .title {
            font-size: 2rem;
          }

          .list-artists {
            li {
              font-size: 1.3rem;
            }
          }
        }
      }

      &:hover {
        min-height: 924px;
        width: 100%;

        .img-box {
          img {
            height: 65%;
            transform: scale(1);
            width: 90%;
          }
        }
      }
    }
  }

  @media (max-width: 1024px) {
    overflow: hidden;
    padding: 0 1.5rem;
  }
}
