<div class="cards">
  <div class="card">
    <div class="img-box">
      <img [src]="albums.images" [alt]="albums.name" />
    </div>
    <div class="details">
      <div class="details-header">
        <h3 class="title">{{ albums.name }}</h3>
      </div>
      <div class="details-body">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora,
          quasi. Excepturi praesentium reiciendis ex cumque rem nobis rerum non
          hic!
        </p>
      </div>
      <div class="details-footer"></div>
    </div>
  </div>
</div>
