<div class="cards">
  <div class="card">
    <div class="img-box">
      <img
        [src]="cardInformation.image | emptyImage"
        [alt]="cardInformation.title"
      />
    </div>

    <div class="details">
      <div class="details-header">
        <h3 class="title">{{ cardInformation.title }}</h3>
        <h3 class="sub-title">
          <span>{{ cardInformation.subTitle.text }}</span>
          {{ cardInformation.subTitle.value }}
        </h3>
      </div>

      <div class="details-body">
        <span class="musical-notes">
          {{ cardInformation.bodyTitle.text }}
          <span>{{ cardInformation.bodyTitle.span }}</span></span
        >
        <iframe
          [src]="cardInformation.uri | uriSanitizer"
          width="100%"
          height="100%"
          allowtransparency="true"
          allow="encrypted-media"
        ></iframe>
      </div>

      <div class="details-footer">
        <h3 class="title">
          {{ cardInformation.footer.footerTitle }}
        </h3>
        <ul class="list-artists">
          <li *ngFor="let item of cardInformation.footer.footerItems">
            <a *ngIf="item.artistId" routerLink="/artist/{{ item.artistId }}">
              {{ item.artistName }}
            </a>
            <span *ngIf="!item.artistId">{{ item }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
