<spoti-loading *ngIf="loading"></spoti-loading>

<div class="alert" *ngIf="thereErrors && !loading">
  <h3>Error</h3>
  <p>{{ errorMessage }}</p>
</div>

<ng-container *ngIf="!loading && !thereErrors">
  <spoti-cards
    *ngFor="let album of newAlbumsRelases"
    [cardInformation]="{
      image: album.images,
      title: album.name,
      subTitle: {
        text: 'Relase Date: ',
        value: album.releaseDate
      },
      bodyTitle: {
        text: 'Album',
        span: 'Track'
      },
      uri: album.uri,
      footer: {
        footerTitle: album.artists.length > 1 ? 'Artists' : 'Artist',
        footerItems: album.artists
      }
    }"
  ></spoti-cards>
</ng-container>
