<div class="search">
  <div class="content">
    <div class="finder-container">
      <form #formSearch="ngForm" (ngSubmit)="performSearch(formSearch)">
        <input
          type="text"
          name="search"
          ngModel
          #search="ngModel"
          [placeholder]="'Search By ' + filterSelected"
        />
        <button type="submit">Search</button>
      </form>
      <div class="search-filters">
        <button
          *ngFor="let filter of searchFilters"
          (click)="changeSearchFilter(filter)"
          [ngClass]="{ active: filterSelected === filter }"
        >
          {{ filter }}
        </button>
      </div>
    </div>
  </div>
</div>
