// Font Import
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

// General Styles
* {
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

*::-webkit-scrollbar {
  transition: all 0.5s ease-in;
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  background: darken($color: #ededed80, $amount: 0.9);
  border-radius: 5px;
}

*::selection {
  color: #ededed;
  background-color: darken($color: #ededed40, $amount: 0.5);
}

body {
  background-color: #010118;
  overflow-x: hidden;
}

main {
  margin: 3rem 0;
  padding: 0 1rem;
  height: calc(100vh - (6rem + 80px));
}

.mt {
  margin-top: 1rem;
}

.alert {
  animation: scale-in_XY 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  background-color: #f0101070;
  border-radius: 5px;
  color: #ededed;
  position: relative;
  padding: 1rem;
  text-align: center;

  h3 {
    font-size: 2rem;
    font-weight: 500;
  }

  p {
    font-size: 1.25rem;
    font-weight: 400;
  }
}

@keyframes scale-in_XY {
  0% {
    transform: scaleX(0.1) scaleY(0.1);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}
