// Font Import
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

// General Styles
* {
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

*::-webkit-scrollbar {
  transition: all 0.5s ease-in;
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  background: #1b1b3090;
  border-radius: 15px;
  transition: all 0.5s ease-in;
}

*:hover::-webkit-scrollbar-thumb {
  background: #1b1b3055;
}

body {
  background-color: #010118;
  overflow-x: hidden;
}

main {
  margin-top: 3rem;
  padding: 0 1rem;
}
